<div class="col flex-between-column">

  <div class="title-holder">
    <div class="title">
      <h3>Your Sales</h3>
    </div>
    <div class="calendar">
      <span>
        <h5>Period:
        <h6>last yesr</h6>
        </h5>

      </span>
    </div>
  </div>

  <div class="flex-between">
    <div style="width: 300px;height: 150px; ">
      <canvas baseChart
              [data]="doughnutChartData"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">

      </canvas>
    </div>
    <ul class="cart">
      <li *ngFor="let n of doughnutChartLabels">
        {{n}}
      </li>
    </ul>
  </div>

</div>
