<div class="flex-between-column">

  <div class="title-holder">
    <div class="title">
      <h3>Your Sales</h3>
    </div>
    <div class="calendar">
      <span class="elips ">
        <b>Period:</b>
        <b class="gray g1">last year</b>
        <i class="caret"></i>
      </span>
    </div>
  </div>

  <div class="flex-space">
    <div style="display: block">
      <canvas baseChart max-height="400px" height="250%" id="sale-pie"
              [data]="doughnutChartData"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">

      </canvas>
    </div>
    <ul class="cart">
      <li *ngFor="let n of doughnutChartLabels">
        {{n}}
      </li>
    </ul>
  </div>

</div>
