.title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  margin-left:10px;
  margin-top:10px;
  color: #8492af;
}

.title h3{
  font-weight: bold;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-space{
  display: flex;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 1200px){
  .flex-space{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.flex-between-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 1200px){
  .flex-between-column{
    margin-right: 20px;
  }
}

@media (max-width: 586px) {
  #sale-pie {
    max-height: 400px !important;
    height: 250% !important;
    width: 130px !important;
  }
}


cart{
  position: relative;
  right: 40px;
  text-overflow: ellipsis;
}

#sale-pie :after{
  content: '1600';
  display: inline-block;
  font-weight: bold;
  font-size: 1.7em;

}
.cart li {
  padding-top:10px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: rgb(132, 146, 175);
  line-height: 1.2;
}

/*.flex-between canvas{*/
  /*position: relative;*/
  /*right:50px;*/
/*}*/
.calendar{
  margin-right:10px;
}
.elips{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 7px;
  width:140px;
  cursor:pointer;
}

.caret{
  background: url('../../../assets/caret.png') no-repeat center;
  width: 12px;
  height: 6px;
  display: inline-block;

}
.g1{
  flex-grow: 1;
  padding-left:5px;
}

.elips b{
  font-size: 1em;

}

.gray {
  color:lightgray;
}
