.title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  margin-left:10px;
  margin-top:10px;
  color: #8492af;
}

.title h3{
  font-weight: bold;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cart{
  position: relative;
  right:30px;
}

.cart li {
  padding-top:10px;
  font-size: 1.2em;
  font-family: "Roboto";
  color: rgb(132, 146, 175);
  line-height: 1.2;
}

/*.flex-between canvas{*/
  /*position: relative;*/
  /*right:50px;*/
/*}*/

.elips{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 7px;
  width:140px;
  cursor:pointer;
}

.caret{
  background: url('../../../assets/caret.png') no-repeat center;
  width: 12px;
  height: 6px;
  display: inline-block;

}
.g1{
  flex-grow: 1;
  padding-left:5px;
}

.elips b{
  font-size: 0.8em;

}

.gray {
  color:lightgray;
}
