.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_bar{
  height:90px;
  padding-left:15px;
  padding-right:15px;
}

.header{
  font-size: 24px;
  font-weight: bold;
}

.info_holder{
  height:110px;
  padding-left:15px;
  border:1px solid rgba(132, 146, 175, 0.1);
}

.task_info_holder{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left:20px;
}

@media (max-width: 576px) {
  .task_info_holder {
    flex-grow: 1;
  }
}

.dots-menu{
  background: url('../../../assets/Options.png') no-repeat center;
  width: 40px;
  height: 33px;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.clock_pink{
  background: url('../../../assets/clock_pink.png') no-repeat center;
  width: 17px;
  height: 17px;
  display: inline-block;
}

.task_info_title {
  font-size: 1.4em;
  text-transform: capitalize;
  font-family: "Roboto";
  font-weight: bold;
  color: rgb(14, 26, 53);
  line-height: 1.8em;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.task_info_stitle{
  font-size: 1em;
  font-family: "Roboto";
  color: rgb(248, 60, 123);
  line-height: 1.8em;
  position: relative;
  top: -4px;
  margin-left: 5px;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6{
  font-weight: bold;
}

.roundNumber, .roundNumber-big{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  color: #fff;
  font-size:1.4em;
  margin:0 5px
}

.roundNumber-big{
  font-size:1.6em;

}

.blue{
  background: #5384ff;
}

.pink{
  background: #f83c7b;
}
