<div class="flex-between info_bar">
  <span class="header">{{title}}</span>
  <span style="display: flex;">
    <span class="roundNumber blue" *ngIf="tasks">  {{tasks.length/10}} </span>
    <span class="roundNumber pink" *ngIf="tasks">  {{tasks.length/5}} </span>
  </span>
</div>

<div *ngFor="let t of tasks; let i = index">
  <div *ngIf="i < 4" class=" ">

    <div class="flex-between info_holder">
      <div class="roundNumber-big blue">
        N
      </div>
      <div class="task_info_holder">
        <span class="task_info_title"> {{t.title}} </span>
        <div>
          <i class="clock_pink"></i>
          <span class="task_info_stitle"> {{t.completed}} </span>
        </div>
      </div>
      <div class="task_info_menu">
        <i class="dots-menu"></i>
      </div>
    </div>
  </div>
</div>
