.title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  margin-left:30px;
  margin-top:10px;
  color: #8492af;
}

.title h3{
  font-weight: bold;
}
.elips{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 7px;
  width:140px;
  cursor:pointer;
}

.caret{
  background: url('../../../assets/caret.png') no-repeat center;
  width: 12px;
  height: 6px;
  display: inline-block;

}
.g1{
  flex-grow: 1;
  padding-left:5px;
}

.elips b{
  font-size: 1em;

}

.gray {
  color:lightgray;
}
