<div class="flex-between info_bar">
  <span class="header">{{title}}</span>
  <span style="display: flex;">
    <span class="roundNumber blue"> 5 </span>
  </span>
</div>

<div *ngFor="let m of messages; let i = index">
  <div *ngIf="i < 4" class=" ">

    <div class="flex-between info_holder">
      <i class="msg-logo roundNumber-big">
      </i>
      <div class="msg_info_holder">
        <div>
          <span class="msg_info_title"> {{m.name}} </span>
          <span class="msg_info_time"> 2 days ego </span>
        </div>
        <span class="msg_info_stitle"> {{m.company.catchPhrase}} </span>
        <div>
          <i class="arrow-l"></i>
          <i class="gear"></i>
        </div>
      </div>
      <div class="msg_info_menu">
        <i class="dots-menu"></i>
      </div>
    </div>
  </div>
</div>
