
nav{
  position: fixed;
  height: 100%;
  background: #0e1a35;
  color: white;
  width: 300px;
}

app-nav-bar{
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

main{
  position: relative;
  top: 120px;
  margin-left: 300px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  padding: 45px;
}
