<div class="container-fluide">

  <nav class="col-xs-2">
    <app-main-nav></app-main-nav>
  </nav>

  <div class="col-xs-10">
    <div class="row">
      <app-nav-bar></app-nav-bar>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-sales></app-sales>
      </div>

      <div class="col-md-6">
        <app-graph></app-graph>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <app-tasks></app-tasks>
      </div>
      <div class="col-md-4">
        <app-messages></app-messages>
      </div>
      <div class="col-md-4">
        <app-activity></app-activity>
      </div>

    </div>
  </div>

</div>
