@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
}

nav {
  position: fixed;
  height: 100%;
  background: #0e1a35;
  color: white;
  width: 260px;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 80px;
  margin-left: 260px;
  background: #f6f7fa;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

app-nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.graph-holder{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div[app-sales]{
  width: 40%;
  height: auto;
  border:1px solid rgba(132, 146, 175, 0.3);
  background-color: rgb(255, 255, 255);
}

div[app-graph]{
  width: 50%;
  height: auto;
  border:1px solid rgba(132, 146, 175, 0.3);
  background-color: rgb(255, 255, 255);

}

div[app-tasks],div[app-messages], div[app-activity] {
  border:1px solid rgba(132, 146, 175, 0.3);
  background: #fff;

}

.m-10{
  margin: 10px;
  padding:0;
}
