<div class="container-fluid">
  <div class="row">
  <nav class="col">
    <app-main-nav></app-main-nav>
  </nav>

  <div class="col">

    <div class="container-fluid">
      <app-nav-bar></app-nav-bar>
    </div>

    <div class="row">
      <div class="col">
        <app-sales></app-sales>
      </div>

      <div class="col">
        <app-graph></app-graph>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-tasks></app-tasks>
      </div>
      <div class="col">
        <app-messages></app-messages>
      </div>
      <div class="col">
        <app-activity></app-activity>
      </div>

    </div>
  </div>
  </div>
</div>
