@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
}

nav {
  position: fixed;
  height: 100%;
  background: #0e1a35;
  color: white;
  width: 300px;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 120px;
  margin-left: 300px;
  background: #f6f7fa;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

main>div{
  border:1px solid rgba(132, 146, 175, 0.3);
}

app-nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}


div[app-sales]{
  width: 40%;
  height: 470px;
  border: 1px solid  rgb(132, 146, 175);
  background-color: rgb(255, 255, 255);
}

div[app-graph]{
  width: 50%;
  height: 470px;
  border: 1px solid  rgb(132, 146, 175);
  background-color: rgb(255, 255, 255);
}

div[app-tasks],div[app-messages], div[app-activity] {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(132, 146, 175);
  background-color: rgb(255, 255, 255);
  height: 527px;
}

.m-20{
  margin: 20px;
}
