<section>
  <i class="btn" (click)="toggle($event)"></i>
  <div class="nav_btn pointer">
    <i class="nav_search-elm pointer"></i>
  </div>

  <div class="flex-space">
    <div class="calendar pointer">
      <span class="elips ">
        <i class="plus"></i>
        <b>Add project</b>
      </span>
    </div>

    <div class="nav_add-btn">
      <i class="nav-email pointer"></i>
      <i class="nav_notif pointer"><span class="not-num">5</span></i>
      <i class="nav_login pointer"></i>
    </div>

  </div>
</section>
