
<section>
  <div class="logo">

  </div>
  <div class="box active">
    <div class="holder">
      <i class="home_icon"></i>
    </div>
    <div class="holder xl-none">
      <span>Home</span>
    </div>
  </div>

  <div class="box">
    <div class="holder">
      <i class="workflow_icon"></i>
    </div>
    <div class="holder xl-none">
      <span>Workflow</span>
    </div>
  </div>

  <div class="box">
    <div class="holder">
      <i class="calendar_icon"></i>
    </div>
    <div class="holder xl-none">
      <span>Calendar</span>
    </div>
  </div>

  <div class="box">
    <div class="holder">
      <i class="stats_icon"></i>
    </div>
    <div class="holder xl-none">
      <span>Statistics</span>
    </div>
  </div>

  <div class="box">
    <div class="holder">
      <i class="user_icon"></i>
    </div>
    <div class="holder xl-none">
      <span>Users</span>
    </div>
  </div>

</section>
